* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 32px;
}

.box {
    background-color: #105652;
    padding: 68px 32px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1 {
    color: #DFD8CA;
    font-size: 2rem;
}

p {
    color: #FBF3E4;
    font-size: 1.2rem;
}

span {
    color: #B91646;

}

.tries{
    margin: 12px 0px 8px 0;
}

.subtitle{
    margin: 8px 0;
}


input{
    padding: 12px;
    font-size: 1.1rem;
    width: 200px;
    border-radius: 5px;
    text-align: center;
    justify-self: center;
    border-style: none;
    background-color: #FBF3E4;
    color: #B91646 ;
}

.btn {
    display: block;
    border-radius: 5px;
    padding: 8px;
    width: 150px;
    margin: 16px;
    font-size: 1.1rem;
    background-color: #B91646 ;
    border: none;
    color: #FBF3E4;
}
.btn:hover {
    cursor: pointer;
    background-color: #FBF3E4;
    color: #B91646;
}

@media only screen and (min-width: 48rem){
    h1 {
        font-size: 3rem;
    }
    
    p {
        font-size: 2rem;
    }
    
  
    
    .tries{
        margin: 28px 0px 8px 0;
    }
    
    .subtitle{
        margin: 8px 0;
    }
    
    
    input{
        padding: 16px;
        font-size: 1.6rem;
        width: 300px;
    }
    
    .btn {
        padding: 16px;
        width: 200px;
        margin: 16px;
        font-size: 1.8rem;
 
    }
}